.badges-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  
    .badge {
      background-color: #f0f4f8;
      border: 1px solid #1565c0;
      padding: 10px;
      border-radius: 10px;
      color: #1565c0;
      font-weight: bold;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  